@{
    ViewBag.Title = "About Us";
}
<h2>@ViewBag.Title</h2>
@*<h3>@ViewBag.Message</h3>*@

<p>Grand Circus Coffee Shop is a local and private firm located in Grand Rapids, MI. We provide the great taste Coffee serving over 10000 customers since 1999.</p>
